* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: hsl(265, 54%, 46%);
}
.fondo {
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    height: 100%;
}
nav img {
    padding-left: 50px;
    padding-top: 50px;
}
main {
    display: flex;
    padding: 50px;
    justify-content: center;
}
main img {
    width: 100%;
    max-width: 709px;
    height: auto;
}
main .main-text {
    font-size: 2rem;
    padding: 5rem;
    color: white;
    width: 550px;
}
main .main-text h1 {
    padding-bottom: 2rem;
}
main .main-text p {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
main .main-text .boton {
    border-radius: 3.5rem;
    padding: 2rem 9rem;
    border: 1px solid grey;
}
main .main-text .boton {
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
main .main-text .boton:hover {
    border: 2px solid;
}
footer {
    padding: 0;
    margin: 0;
}
footer ul {
    display: flex;
    justify-content: flex-end;
}
footer li {
    display: inline-flex;
    padding-right: 25px;
}
footer img {
    width: 30px; height: 30px;
    filter: invert(100%);
}

@media screen and (max-width: 1024px) {
    main .main-text {
        font-size: 2rem;
        padding: 5rem;
        padding-top: 0rem;
        color: white;
        width: 550px;
    }
}
@media screen and (max-width: 768px) {
    main img {
        padding: 3rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    main .main-text {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        width: 100%;
        max-width: 540px;
        height: auto;
        text-align: center;
        max-width: 709px;
        height: auto;
    }
    main .main-text .boton {
        border-radius: 3.5rem;
        padding: 1.6rem 13rem;
        border: 1px solid grey;
    }
    main .main-text h1 {
        font-size: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    main .main-text p {
        padding-bottom: 4rem;
        font-size: 2.8;
    }
    footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    }
    footer img {
        width: 40px; height: 40px;
    }
    nav img {
        padding-bottom: 3rem;
        padding-left: 0;
        width: 100%;
        max-width: 264px;
        height: auto;
    }
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: right;
        padding-left: 5rem;
    }
}